:root {
  --btn-primary-color: rgb(47 200 149 / 80%);
  --btn-primary-hover-color: rgb(47 200 149 / 100%);
  --color: rgb(255 255 255);
}

.btn {
  padding: 5px 12px;
  border-radius: 4px;
  border: none;
}
